
<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! K14 -- Form and Function>
<! 2020-12-8 >
<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
    <h1>
    Welcome to the SharpCat Flask Site
    </h1>
    <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>

<h3>
Enter your username below to proceed.
</h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
     <br>
  </body>

</html>