<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! K14 -- Form and Function>
<! 2020-12-8 >
<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Team SharpCat </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
    Username Entered: {{ request.args['username'] }}
    <br><br>
    Request Method : {{ request.method }}
     <br><br>
    Bonjour, {{ request.args['username'] }}!
  </body>

</html>