<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! K15 -- Sessions Greetings>
<! 2020-12-10 >
<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
    <h1>
    Welcome to the SharpCat Flask Site
    </h1>
    <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>

<h3>
Enter your username and password below to proceed.
</h3>
    <form action="/auth">
       Username <input type="text" name="username">
       <br></br>
       Password <input type = "text" name = "password">
       <br></br>
      <input type="submit" name="sub1">
    </form>
     <br>
  </body>

</html>