<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! K15 -- Sessions Greetings>
<! 2020-12-10 >
<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Team SharpCat </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
    Username Entered: {{ user }}
    <br><br>
    Request Method : {{ method }}
     <br><br>
    Bonjour, {{user}}!
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>

</html>